*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.calendar-container {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.display-container > * {
  padding: 2rem;
}

.month-container {
  display: grid;
  grid-template-areas: "mon tue wed thur fri sat sun";
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0.07rem;
  padding: 0 1rem 1rem 1rem;
  margin: 1rem;
}

.month-container > * {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-container {
  margin: 1rem 0 0 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.date-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#render-btn {
  border: none;
  background: none;
}

#left-arrow-btn,
#right-arrow-btn {
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

#left-arrow-btn:hover,
#right-arrow-btn:hover {
  color: gray;
}

#add-task-btn {
  border: none;
  background: none;
  color: #0b44c0;
  cursor: pointer;
}

#add-task-btn:hover {
  color: black;
}

.sidebar-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  border-left: 3px solid black;
  align-self: stretch;
  overflow-y: scroll;
}

.notes-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.notes-container > * {
  padding: 0.5rem;
}

.task::before {
  content: " ";
  bottom: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: blue;
}
.holiday::after {
  content: " ";
  width: 1rem;
  height: 0.5rem;
  border-radius: 999px;
  background: red;
}

.header {
  background: #0b44c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: stretch;
  flex: 0.1;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav > ul > li {
  padding: 0.5rem 0;
}

.nav > ul {
  list-style: none;
}

.month-container > p {
  background: #0b44c0;
  color: white;
}

.calendar-container > span {
  display: flex;
  justify-content: space-between;
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text > .task {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: blue;
}
.info-text > .holiday {
  width: 1rem;
  height: 0.5rem;
  border-radius: 999px;
  background: red;
}

.info-text > p {
  margin-right: 1rem;
}

.day-text {
  background: #0b44c0;
  color: white;
  border-radius: 999px;
  padding-left: 0.8rem;
  font-size: 1.3rem;
}

.holiday-preview-text,
.task-preview-text {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.holiday-preview-text > *,
.task-preview-text > * {
  padding: 0.2rem 0;
  padding-left: 0.5rem;
}
.holiday-preview-text > strong,
.task-preview-text > strong {
  padding-left: 1.5rem;
}

.holiday-heading-container,
.task-heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-heading-container,
.holidaypreview-container {
  margin-top: 2rem;
}

.holiday-heading-container > img {
  height: 7vh;
  width: 7vw;
  margin-right: 0.1rem;
}

.task-heading-container > img {
  height: 7vh;
  width: 7vw;
  margin-right: 1rem;
}

#task-text-area {
  resize: none;
}

.tasklist-container {
  list-style: none;
  color: black;
  font-weight: 500;
}

.tasklist-container > li {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.tasklist-container > li > button {
  border: none;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  background: none;
  color: #0b44c0;
  cursor: pointer;
}

.tasklist-container > li > button:hover {
  color: black;
}
